* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Brittany';
    src: url(../assets/fonts/BrittanySignature.woff2);
}

:root {
    --white: #f5f5f5;
    --green: #7ed555;
    --yellow: #f6e281;
    --violet: #bb76d2;
    --pink: #e3b2cc;
    --light-blue: #5cdde3;
    --black: #050505;
}

body {
    position: relative;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
    color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 2px 5px #01010133;
}

.font-brittany {
    font-family: 'Brittany';
    letter-spacing: 2px;
}

.logo-name {
    font-weight: 600;
    color: var(--black);
}

.logo-img {
    width: 30px;
    vertical-align: middle;
}

.menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.top-bar,
.middle-bar,
.bottom-bar {
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 5px;
    background-color: var(--black);
    transform-origin: left;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.convert-x-1 {
    transform: rotate(45deg);
    transition: transform 0.6s;
}

.convert-x-2 {
    transform: rotate(-45deg);
    transition: transform 0.6s;
}

.convert-bars {
    transform: rotate(0deg);
    transition: transform 0.6s;
}

.block-overflow {
    overflow: hidden;
}

.navbar {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    transition: opacity 0.5s, visibility 0.5s;
}

.navlist {
    width: 100%;
    height: 100%;
    margin-top: -1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

.nav-link {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black);
    font-size: 1.8rem;
    color: var(--black);
}

.about-me,
.services,
.cards-container,
.card,
.contact,
.contact-links-container,
.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me {
    gap: 1.5rem;
}

.title-1,
.title-2,
.title-3,
.about-me-description,
.call-to-action,
.services-description,
.card-description,
.contact-description {
    text-align: center;
}

.call-to-action {
    cursor: pointer;
    width: 80%;
    max-width: 275px;
    margin: 0.8rem auto 0;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--green);
    color: var(--black);
    box-shadow: 2px 2px 5px var(--violet);
}

.about-me-img {
    width: 80%;
    max-width: 320px;
    margin-bottom: 1rem;
}

.services {
    background-color: var(--pink);
}

.cards-container {
    width: 100%;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.card {
    width: 90%;
    max-width: 320px;
    height: 440px;
    flex-direction: column-reverse;
    border-radius: 15px;
    background-color: var(--violet);
    box-shadow: 0 0 10px var(--yellow);
}

.card-img {
    width: 80%;
}

.contact-links-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-link {
    width: 25%;
    max-width: 90px;
    height: 25%;
    max-height: 90px;
    text-align: center;
}

.footer {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--pink);
}

.location-icon {
    vertical-align: middle;
}

.go-up {
    width: 10%;
    max-width: 40px;
}

@media screen and (min-width: 768px) {
    .header,
    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .logo-name {
        width: 60%;
        font-size: 1.2rem;
    }
    
    .menu-btn {
        display: none;
    }
    
    .navbar {
        position: relative;
        padding: 0;
        opacity: 1;
        visibility: visible;
    }
    
    .navlist {
        width: unset;
        height: unset;
        margin: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }

    .about-me,
    .services,
    .contact {
        padding: 4rem 2rem;
    }
    
    .about-me {
        flex-direction: row;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .title-1,
    .title-2,
    .about-me-description,
    .services-description {
        margin-top: 0;
    }

    .title-1,
    .about-me-description {
        text-align: left;
    }
    
    .call-to-action {
        margin: 0;
        margin-top: 1rem;
    }
    
    .about-me-img {
        margin-bottom: 0;
    }

    .title-2 {
        font-size: 1.8rem;
    }

    .services-description {
        font-size: 1.1rem;
    }
    
    .cards-container {
        padding: 0;
        margin-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 20px;
    }
    
    .contact-links-container {
        padding-bottom: 0;
    }
    
    .footer {
        justify-content: space-between;
    }

    .address {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .about-me,
    .services,
    .contact {
        padding: 6rem 4rem;
    }
    
    .about-me {
        gap: 2rem;
    }

    .title-1 {
        font-size: 2.5rem;
    }

    .about-me-description,
    .call-to-action,
    .services-description,
    .contact-description {
        font-size: 1.5rem;
    }
    
    .call-to-action {
        padding: 1rem 2rem;
        max-width: 350px;
    }
    
    .about-me-img {
        max-width: 400px;
    }

    .title-2 {
        font-size: 2.3rem;
    }
    
    .cards-container {
        margin-top: 1rem;
    }
    
    .card {
        height: 460px;
    }

    .title-3 {
        font-size: 1.6rem;
    }

    .address {
        font-size: 1.5rem;
    }

    .location-icon {
        font-size: 2rem;
    }

    .go-up {
        max-width: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .header,
    .footer {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .about-me,
    .services,
    .contact {
        padding: 8rem 6rem;
    }
    
    .call-to-action {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-radius: 30px;
    }
    
    .about-me-img {
        max-width: 550px;
    }
    
    .cards-container {
        justify-content: space-between;
        gap: unset;
    }
    
    .card {
        max-width: 250px;
        height: 460px;
    }

    .card-img {
        width: 70%;
    }

    .wp-icon,
    .mail-icon {
        width: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: 300px;
    }
}

.call-to-action:hover {
    background-color: var(--yellow);
    box-shadow: 2px 2px 5px var(--black);
}